replicaCount: 1

config:
  environment: dev
  logLevel: INFO
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

service:
  port: 8000

probes:
  path: /healthz
  initialDelaySeconds: 5
  periodSeconds: 10
